
<h2>個人資料</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.label :name, '姓名' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :gender, '性別' %>
  <%= f.select :gender, ['男', '女'], :prompt => '請選擇' %>
  <br>
  <%= f.label :age, '年齡' %>
  <%= f.number_field :age %>
  <br>
  <%= f.label :cm, '身高' %>
  <%= f.number_field :cm %>
  <br>
  <%= f.label :kg, '公斤' %>
  <%= f.number_field :kg %>
  <br>
  <%= f.submit %>
<% end %>

