<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>Exericse Calorie</h1>
      <%= form_tag search_sport_record_database_path, :method => 'get' do %>
        <%= text_field_tag :search_sport, @search_sport %></h3>
        <%= submit_tag "Search" %>
        <% end %>
        <% @sports.each do |sport| %>
        <h3> 運動名稱:<%= sport.name %></h3>
        <p>消耗熱量(大卡/公斤體重/小時)：<%= sport.consume %></p>
        <p>卡洛里(40KG): <%= sport.consume_40kg %></p>
        <p>卡洛里(50kG): <%= sport.consume_50kg %></p>
        <p>卡洛里(60kG): <%= sport.consume_60kg %></p>
        <p>卡洛里(70kG): <%= sport.consume_70kg %></p>
      <% end %>
    </div>
  </div>
</div> -->
