<section class="section food">
  <div class="container-fluid">
    <div class="row search">
      <div class="col-12 col-sm-12" id="search_bar">
          <div class="form-row food_user_name">
            <div class="col-8 col-sm-12 food_user_name">
              <% if current_member.present? %>
              <div class="js-type food_user_name"><i class="fas fa-user-circle"></i> <%= current_member.name %> </div>
              <% else %>
              <div></div>
              <% end %>
            </div>
          </div>
          <div class="form-row food_search_bar">
            <% if current_member.present? %>
            <div class="col-6 col-sm-8 js-type d-flex">
              <input class="input" id="searchfood" type="text" placeholder="搜尋食物資料庫 加入今日紀錄">
              <button class="btn btn-outline-info is-light js-search" data-id="searchfood" > <i class="fas fa-search"></i></button>
            </div>
            <% else %>
            <div class="col-6 col-sm-8 js-type d-flex">
              <input class="input" id="searchfood" type="text" placeholder="搜尋食物資料庫 加入今日紀錄" readonly>
              <button class="btn btn-outline-info is-light js-search" data-id="searchfood" disabled="disabled" value="這個按鈕已經禁用" > <i class="fas fa-search"></i></button>
            </div>
            <% end %>
          </div>
          <div class="form-row food_add_bar">
            <div class="col-2 col-sm-2  "></div>
            <div class="col-8 col-sm-6 add_item d-flex">
              <% if current_member.present? %>
               <button  class="button is-primary is-small is-light is-rounded " id="Add_food_record_by_user"> 直接加入飲食紀錄 </button>
               <button class="button is-link is-danger is-small is-light is-rounded js-favorite" id="user_favorite_list"><i class="fas fa-heart food_favorite"></i> 最愛食物 </button>
               <% else %>
               <button  class="button is-primary is-small is-light is-rounded " id="Add_food_record_by_user" disabled="disabled"> 直接加入飲食紀錄 </button>
               <button class="button is-link is-danger is-small is-light is-rounded js-favorite" id="user_favorite_list" disabled="disabled"><i class="fas fa-heart food_favorite"></i> 最愛食物 </button>
              <% end %>            
            </div>
          </div>
          <div class="form-row food_search_result">
            <div class="col-md-11 md-3 " id="query-table">
            <table class="table table-hover" id="query-food">
              <thead>
                <tr>
                  <th colspan="2" scope="col"> <i class="fas fa-list"></i> 食物點將錄</th>
                  <th class="search_rwd" colspan="4"></th>
                  <th scope="col"><button class="button is-primary is-small is-light js-endsearch" id="End_search" > <i class="fas fa-arrow-circle-left end_food_search"></i> 結束搜尋 </button></th>
                </tr>
                <tr class="table-info">
                  <td class="search_index" scope="col"># </td>
                  <td scope="col">食品名稱</td>
                  <td class="search_calories" scope="col">卡路里</td>
                  <td class="search_protein"  scope="col">蛋白質</td>
                  <td class="search_fat_content"  scope="col">體脂肪</td>
                  <td class="search_carbohydrate"  scope="col">碳水化合物</td>
                  <td scope="col"><i class="fas fa-clipboard"></i> 加入紀錄</td>
                </tr>
              </thead>
              <tbody id="foodresult">
              </tbody>
            </table>
            </div>
          </div>
          <div class="form-row" id="favorite_food_record">
            <div class="col-md-11 md-3 " id="favorite-table">
              <table class="table table-hover" id="favorite-food">
                <thead>
                  <tr>
                    <th colspan="3" scope="col"> <i class="fas fa-list-ul"></i>  最愛食物清單</th>
                    <th class="favorite_normal" colspan="4" scope="col"></th>
                  </tr>
                  <tr>
                    <td class="favorite_index" scope="col"># </td>
                    <td class="favorite_name"  scope="col">食品名稱</td>
                    <td class="favorite_calories" scope="col">卡路里</td>
                    <td class="favorite_protein" scope="col">蛋白質</td>
                    <td class="favorite_fat_content" scope="col">體脂肪</td>
                    <td class="favorite_carbohydrate" scope="col">碳水化合物</td>
                    <td scope="col"><i class="fas fa-clipboard"></i> 加入紀錄</td>
                  </tr>
                </thead>
                <tbody id="favorite_foodresult">                  
                </tbody>
              </table>
              </div>
          </div>
          <div class="form-row" id="Add_food_record">
          </div>
          <div class="form-row" id="Add_food_record_type">
          </div>
          <div class="form-row" id="Edit_food_record">
          </div>
      </div>
    </div>
    <div class="row result">
      <div class="col-12 col-sm-12">
        <div class="daily-record" id="foodusertable">
          <div class="row daily-record">
            <div class="col-10 col-sm-12 daily_food_status">
              <h2 class="title daily_food_status"> 今日飲食紀錄狀態 <i class="far fa-clipboard"></i>  </h2>
              </br>
              <div class="userfoodrecord">
                <% if current_member.present? %>
                <table class="control_fit_food_record">
                  <thead>
                   <th colspan="3" scope="col"> ControlFit - 飲食紀錄使用須知 <i class="far fa-comment-dots food-user-guide"></i> </th>
                  </thead>
                  <tbody id="food-user-guide">
                     <tr>
                       <th> STEP1:</th>
                       <td> 請使用者先註冊或登入。</td>
                     </tr>
                     <tr>
                       <th> STEP2:</th>
                       <td> 藉由搜尋列搜尋食物，並加入每日記錄。再者，可透過手動加入飲食紀錄</td>
                     </tr>
                     <tr>
                       <th> STEP3:</th>
                       <td> 若無食物資訊亦可透過手動輸入加入每日記錄。</td>
                     </tr>
                     <tr>
                       <th> STEP4:</th>
                       <td> 透過搜尋食物使用愛心功能加入最愛食物清單，下次即可使用最愛清單加入紀錄</td>
                     </tr>
                     <tr>
                       <th> STEP5:</th>
                       <td> 若對現在飲食沒想法可透過推薦食物名單找尋想吃的食物</td>
                     </tr>
                     <tr>
                       <th> STEP6:</th>
                       <td> 若對登入紀錄有疑慮可直接編輯/刪除這筆紀錄資料</td>
                     </tr>
                  </tbody>
                 </table>
                </br>
                <table class="table user-food-info " id="fooduserstatus">
                  <thead>
                    <th colspan="3" scope="col">  <i class="far fa-address-card"></i> <%= current_member.name %></th>
                  </thead>
                  <tbody>
                    <% if @current_user_secret.blank? %>
                      <tr>
                        <th class="eat-habit" scope="row">您飲食習慣:</th>
                        <td>還沒有資料喔 ! <i class="far fa-sad-cry"></i></br> 
                            若需使用請使用<%= link_to "認識自己", blogs_path %>功能</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th class="sport-habit" scope="row">您運動喜好:</th>
                        <td>還沒有資料喔 ! <i class="far fa-sad-cry"></i></br>
                            若需使用請使用 <%= link_to "認識自己", blogs_path %>功能</td>
                        <td></td>
                      </tr>
                    <% else %>
                      <% if @current_user_secret.foodintention.blank? %>
                        <tr>
                          <th class="eat-habit" scope="row">您飲食習慣:</th>
                          <td>還沒有資料喔 ! <i class="far fa-sad-cry"></i></br> 
                              若需使用請使用<%= link_to "認識自己", blogs_path %>功能</td>
                          <td></td>
                        </tr>
                      <% else %>
                        <tr>
                          <th class="eat-habit" scope="row">您飲食習慣:</th>
                          <td><%=@current_user_secret.foodintention %></td>
                          <td></td>
                        </tr>
                      <% end %>
                      <% if @current_user_secret.sportintention.blank? %>
                        <tr>
                          <th class="sport-habit" scope="row">您運動喜好:</th>
                          <td>還沒有資料喔 ! <i class="far fa-sad-cry"></i></br>
                              若需使用請使用 <%= link_to "認識自己", blogs_path %>功能</td>
                          <td></td>
                        </tr>
                      <% else %>
                        <tr>
                          <th class="sport-habit" scope="row">您運動喜好:</th>
                          <td><%= @current_user_secret.sportintention %></td>
                          <td></td>
                        </tr>
                      <% end %>
                    <% end %> 
                  </tbody>
                  <tfoot>
                    <tr>
                      <% if @current_user_secret.blank? %>
                        <th scope="row">每日所需的熱量:</th>
                        <td>還沒有資料喔 ! <i class="far fa-sad-cry"></i> </br>  
                            若需使用請使用<%= link_to "認識自己", blogs_path %>功能 </td>
                        <td></td>
                      <% else %>
                        <% if @current_user_secret.tdee.blank? %>
                        <th scope="row">每日所需的熱量:</th>
                        <td>還沒有資料喔 ! <i class="far fa-sad-cry"></i> </br>  
                            若需使用請使用<%= link_to "認識自己", blogs_path %>功能 </td>
                        <td></td>
                      <% else %>
                        <th scope="row">每日所需的熱量:</th>
                        <td><li class="tdee"><%= @current_user_secret.tdee %> </li>大卡</td>
                        <td></td>
                        <% end %>
                      <% end %>
                    </tr>
                  </tfoot>
                </table>
                <table class="table user-food-info dailyfood-normal">
                  <thead>
                    <th colspan="1" scope="col"> <i class="fas fa-clipboard-list"></i> 本日記錄 </th>
                    <th colspan="1" scope="col"> 共 : <li class="count_message"> <%= @record_foods.size %></li> 筆 </th>
                    <th colspan="1" scope="col"> 共吸收 : <li class="sum_message">   <%= @sum %></li> 大卡 </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td><button class="button is-link is-warning is-small is-light is-rounded js-more"><i class="fas fa-comment-dots"></i>更多資訊</button></td>
                      <td class="recommend"> <button class="button is-link is-success is-small is-light is-rounded js-recommend"><i class="far fa-thumbs-up"></i> 推薦食物清單</button></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table user-food-info dailyfood-rwd">
                  <thead>
                    <th colspan="3" scope="col"> <i class="fas fa-clipboard-list"></i> 本日記錄 </th>
                  </thead>
                  </thead>
                  <tbody>
                    <tr>
                      <th colspan="2" scope="col" > 共紀錄 :</td>
                      <td colspan="1" scope="col" > <%= @record_foods.size %></li> 筆</td>
                    </tr>
                    <tr>
                      <th colspan="2" scope="col" > 共吸收 : </td>
                      <td colspan="1" scope="col" > <li class="sum_message"><%= @sum %></li> 大卡</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><button class="button is-link is-warning is-small is-light is-rounded js-more"><i class="fas fa-comment-dots"></i>更多資訊</button></td>
                      <td class="recommend-rwd"> <button class="button is-link is-success is-small is-light is-rounded js-recommend"><i class="far fa-thumbs-up"></i> 推薦食物</button></td>
                    </tr>
                  </tbody>
                </table>
                <% else %>
                <div class="un-sign">
                  <p>
                    親愛的使用者您好: </br>
                    您目前狀態 : 
                    <div class="un-sign-status">尚未註冊</div>或<div class="un-sign-status">登入</div>。</br>
                    可以透過按下 <%= link_to "註冊", new_member_registration_path %> 
                    或是 <%= link_to "登入", new_member_session_path %> 使用飲食紀錄功能。
                  </p>
                  </br>
                  <table class="control_fit_food_record">
                    <thead>
                      <th colspan="3" scope="col"> ControlFit - 飲食紀錄使用須知 <i class="far fa-comment-dots food-user-guide"></i> </th>
                     </thead>
                    <tbody id="food-user-guide">
                      <tr>
                        <th> STEP1:</th>
                        <td> 請使用者先註冊或登入。</td>
                      </tr>
                      <tr>
                        <th> STEP2:</th>
                        <td> 藉由搜尋列搜尋食物，並加入每日記錄。</td>
                      </tr>
                      <tr>
                        <th> STEP3:</th>
                        <td> 若無食物資訊亦可透過手動輸入加入每日記錄。</td>
                      </tr>
                      <tr>
                        <th> STEP4:</th>
                        <td> 透過搜尋食物使用愛心功能加入最愛食物清單，下次即可使用最愛清單加入紀錄</td>
                      </tr>
                      <tr>
                        <th> STEP5:</th>
                        <td> 若對現在飲食沒想法可透過推薦食物名單找尋想吃的食物</td>
                      </tr>
                      <tr>
                        <th> STEP6:</th>
                        <td> 若對登入紀錄有疑慮可直接編輯/刪除這筆紀錄資料</td>
                      </tr>
                   </tbody>
                  </table>
                </div>
                <% end %>     
              </div>
            </div>
          </div>
          </br>
          <div class="form-row foodlist">
          <table class="table table-sm" id="daliy-food">
            <thead class="dailyfood-normal">
              <tr>
                <% if @record_foods.present? %>
                <th  colspan="3" scope="col"> <i class="fas fa-clipboard-list"></i> : 今日飲食紀錄共 : <div class="totalcount" > <%= @record_foods.size %></div> 筆</th>
                <th  class="time" colspan="1"></th>
                <th  colspan="3">  <i class="fas fa-utensils"></i> : 共 <div class="totalsum" > <%= @sum %></div>  大卡  </th>
                <% else %>
                <th  colspan="3" scope="col"> <i class="fas fa-clipboard-list"></i> : 今日飲食紀錄共 : <div class="totalcount" > 0 </div>  筆 </th>
                <th  class="time" colspan="1"></th>
                <th  colspan="3"> <i class="fas fa-utensils"></i> : 共 <div class="totalsum" > 0 </div>  大卡  </th>
                <% end %>
              </tr>
            </thead>
            <tbody id="dailyfood">
              <tr class="table-secondary"> 
                <th scope="col">編號</th>
                <th class="time" scope="col">時間</th>
                <th scope="col">類型</th>
                <th scope="col">食品名稱</th>
                <th scope="col">份數</th>
                <th scope="col">吃多少</th>
                <th scope="col">懺悔時間</th>
              </tr>
              <% if @record_foods.present? %>              
                <% @record_foods.each_with_index do |record_food, index| %>
                <tr class="daily_food_result" >
                  <td class="index"> <%= index+1 %></td>
                  <td class="time"> <%= record_food.created_at.strftime("%F") %></td>
                  <td class="type"> <%= record_food.eat_type %></td>                  
                  <td class="name"> <%= record_food.name %></td>
                  <td class="qty"> <%= record_food.qty %></td>
                  <td class="foodsum"> <%= record_food.total_calorie %></td>
                  <td>
                    <button data-id="<%= record_food.id %>" class="button is-warning is-small is-light js-edit"><i class="fas fa-pencil-alt"> </i></button>
                    <button data-id="<%= record_food.id %>" class="button is-danger is-small is-light js-del"><i class="fas fa-trash"> </i></button>
                  </td>
                </tr>
                <% end %>
              <% else %>
              <% end %>
            </tbody>
          </table>
          <table class="table table-sm" id="recommend-food">
            <thead>
              <tr>
                <th colspan="3" scope="col"> <i class="fas fa-list"></i> 推薦食物清單</th>
                <th class="recommend_index" colspan="4" scope="col"></th>
              </tr>
              <tr>
                <td class="recommend_index" scope="col"># </td>
                <td class="recommend_name"  scope="col">食品名稱</td>
                <td class="recommend_calories" scope="col">卡路里</td>
                <td class="recommend_protein" scope="col">蛋白質</td>
                <td class="recommend_fat_content" scope="col">體脂肪</td>
                <td class="recommend_carbohydrate" scope="col">碳水化合物</td>
                <td scope="col"><i class="fas fa-clipboard"></i> 加入紀錄</td>
              </tr>
            </thead>
            <tbody id="recommend">
            </tbody>
          </table>            
          </div>

        </div>
      </div>
    </div>
  </div>
</section>