<section class="food">
  <div class="container-fluid">
    <div class="row search">
      <div class="col-12 col-sm-12">
        <h2 class="title">食品熱量分析</h2>  
        <div class="form-group food-content">
          <%= form_tag search_food_record_database_path, :method => 'get' do %>
          <%= text_field_tag :search_food, @search_food, class: 'food-text' %></h3>
          <%= submit_tag "Search", class:'search-tag' %>
          <div class="add_item">
            <i class="fas fa-hammer"></i>
            <p>找不到食品項目嗎？</p>
            <button type="button" class="btn btn-info btn-analyze" id="Add_food_record_by_user">新增食品項目</button>
          </div>
          <% end %>
        </div>
        <table class="table table-hover" id="query-food">
          <thead>
            <tr>
              <th scope="col">食品名稱</th>
              <th scope="col">卡路里</th>
              <th scope="col">蛋白質</th>
              <th scope="col">體脂肪</th>
              <th scope="col">碳水化合物</th>
              <th scope="col">記起來</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col">食品名稱</td>
              <td scope="col">卡路里</td>
              <td scope="col">蛋白質</td>
              <td scope="col">體脂肪</td>
              <td scope="col">碳水化合物</td>
              <td scope="col">記起來</td>
            </tr>
            <% @food_databases.each do |food_database| %>
            <tr class="search_food_result" id="<%= food_database.id %>">
              <td><%= food_database.name %></td>
              <td><%= food_database.calories %></td>
              <td><%= food_database.protein %></td>
              <td><%= food_database.fat_content %></td>
              <td><%= food_database.carbohydrate %></td>
              <td><button type="submit" id="<%= food_database.id %>" class="fas fa-plus-square" ></button></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="form-row" id="Add_food_record">
        </div>
        <div class="form-row" id="Add_food_record_type">
        </div>
        <div class="form-row" id="Edit_food_record">
        </div>
      </div>
    </div>
    <div class="row result">
      <div class="col-12 col-sm-12">
        <div class="daily-record">
          <h2 class="title"> 每天攝取熱量紀錄 </h2>
          <table class="table table-sm" id="daliy-food">
            <thead>
              <tr>
                <th  colspan="2" class="daytime" scope="col"></th>
                <th></th>
                <th colspan="4">今天吃了甚麼好料 <i class="fas fa-utensils"></i> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col">編號</th>
                <th scope="col">時間</th>
                <th scope="col">類型</th>
                <th scope="col">食品名稱</th>
                <th scope="col">份數</th>
                <th scope="col">吃多少</th>
                <th scope="col">懺悔時間</th>
              </tr>
              <% if @record_foods.present? %>              
                <% @record_foods.each_with_index do |record_food, index| %>
                <tr class="daily_food_result" >
                  <td> <%= index+1 %></td>
                  <td> <%= record_food.created_at.strftime("%F") %></td>
                  <td class="type"> <%= record_food.eat_type %></td>                  
                  <td class="name"> <%= record_food.name %></td>
                  <td class="qty"> <%= record_food.qty %></td>
                  <td class="foodsum"> <%= record_food.total_calorie %></td>
                  <td>
                    <button data-id="<%= record_food.id %>" class="button is-warning is-small is-light js-edit"><i class="fas fa-pencil-alt"> </i></button>
                    <button data-id="<%= record_food.id %>" class="button is-danger is-small is-light js-del"><i class="fas fa-trash"> </i></button>
                  </td>
                </tr>
                <% end %>
              <% else %>
              <% end %>
            </tbody>
            <tfoot>
              <% if @record_foods.present? %>
                <tr>
                  <td colspan="2">  項目數量 : <%= @record_foods.size %></td>
                  <td></td>
                  <td></td>
                  <td>總計:</td>
                  <td class="totalsum" colspan="2"> <%= @sum %>  </td>
                </tr>
              <% else %>
              <% end %>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>