<header class="section navbar" style="min-height: 100px;">
  <nav class="navbars navbar-expand-lg">
    <div class="container-fluid fixed-top">
      <div class="row">
        
        <div class="col d-inline">
           <!-- 漢堡選單 -->
         <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- .navbar-toggler-icon 漢堡式選單Icon -->
           <span class="navbar-toggler-icon"></span>
         </button>
          <!-- 選單項目 -->
          <div class="logo d-inline">
            <a class="navbar-brand px-0" href="/" >
              <img src="https://thumb1.shutterstock.com/thumb_large/2794804/776316079/stock-photo-rugby-sport-game-competition-icon-summer-sport-games-symbols-sport-pictogram-branding-identity-776316079.jpg" class="img-fluid rounded" width="50" height="50" alt="logo">
            </a>
          </div>
          <h1 class="site-title d-inline ">
            <a href="/" id="brand-name">健康管家</a>
          </h1>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="<%= root_path %>">
                首頁
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="<%= search_food_record_database_path %>">
                食物熱量
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" <%= search_sport_record_database_path %>">
                消耗熱量
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">文章</a>
            </li>
            <li class="nav-item">
              <% if member_signed_in? %>
              <%= current_member.email %>
              <a rel="nofollow" data-method="delete" href="/members/sign_out">登出</a>
            </li>
              <% else %>
            <li class="nav-item">
              <a href="<%= new_member_registration_path %>">註冊</a>
            </li>
            <li class="nav-item">
              <a href="<%= new_member_session_path %>">登入</a>
            </li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

