<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to '首頁唷', root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to '食物熱量', search_food_record_database_path,class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to '每日需要', search_sport_record_database_path,class:'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          服務項目
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->

      <% if member_signed_in? %>
        <%= current_member.email %>
        <%= link_to "登出", destroy_member_session_path, method:"delete" %>
      <% else %>
      <button class="btn btn-outline-success" type="submit">
        <%= link_to "註冊", new_member_registration_path %>
      </button>
      <button class="btn btn-outline-success" type="submit">
        <%= link_to "登入", new_member_session_path, class:'nav-item' %>
      </button>
      <% end %> 
      </li>
    </form>
  </div>
</nav>