<% @member ||= current_member %>
<div class="community follow-states">
  <span class="following">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
      <%= @member.following.count %>
      Following
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content follow-modal">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Following</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @following.each do |f| %>
              <li>
                <div class="following-image">
                  <% if f.cover_image.attached? %>
                    <%= image_tag f.cover_image.variant(resize_to_limit: [50, 50]), class: 'following-img rounded-circle' %>
                  <% else %>
                    <img src="https://picsum.photos/50/50/?random=12", class="rounded-circle">
                  <% end %>
                  <%= link_to f.name, user_path(f), class:'following-link' %>
                </div c>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </span>
  <span class="followers">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal1">
      <%= @member.followers.count %>
      Followers
    </button>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content follow-modal">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @followers.each do |f| %>
              <li>
                <div class="followers-image">
                  <% if f.cover_image.attached? %>
                    <%= image_tag f.cover_image.variant(resize_to_limit: [50, 50]), class:'followers-img rounded-circle' %>
                  <% else %>
                    <img src="https://picsum.photos/50/50/?random=12", class="rounded-circle">
                  <% end %>
                  <%= link_to f.name, user_path(f), class:'following-link' %>
                </div>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>